body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-color-01 {
    color: #232323;
}

.main-color-02 {
    color: #806954;
}

header a {
    text-decoration: none;
    color: #101010;
    font-size: 18px;
}

.bl-0 {
    border: #01abb7 solid 1px;
}

.flexB-jc-betw {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.flexB {
    display: flex;
    position: relative;
}

h1 {
    width: 443px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.1em;
    margin: 120px 0 0 0;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.05em;
    margin: 150px 0 50px 0;
}

h3 {
    margin: 38px 0 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #232323;
    margin: 20px 0;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #232323;
    margin: 20px 0;
}

.links {
    font-size: 20px;
    font-weight: bold;

}

.links:hover {
    color: aqua;
}

.container {
    width: 1170px;
    margin: auto;
}

.navBar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksBox {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.05em;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-me span {
    margin: 20px 0 0 0;
}

.foto-me-02 {
    width: 345px;
    height: 560px;
    padding: 0 0 60px 99px;
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
}

.foto-me-02 img {
    position: absolute;
    width: 100%;
    left: 99px;
    top: 50px;
}

button {
    width: 336px;
    height: 60px;
    margin: 60px 0 221px 0;
    border: 1px #a52424 solid;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #a52424;
}

.greetings {
    width: 643px;
    margin: 0 0 0 153px;
    box-sizing: border-box;
}

.greetings-h2 {
    margin-bottom: 0;
}

.greetings-h3 {
    margin: 0;
    letter-spacing: 0.02em;
    margin: 0 0 0 496px;
}

.greetings img {
    margin: 0 0 31px;
    width: 100%;
}

.foto-02-box-shadow {
    width: 567px;
    height: 320px;
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
}

.photo-cards {
    margin: 0;
}

.card {
    width: 377px;
    position: relative;
    padding-top: 500px;
    margin: 0;
}

.card h3 {
    margin: 20px 0 0 0;
}
.card h4 {
    margin: 10px 0 0 0;
}

.card button {
    width: 100%;
    margin: auto;
}

.formBtn {
    width: 100%;
    margin: 0px;
}

button:hover {
    background-color: #806954;
    color: white;
}

.c-01 {
    background-image: url(../img/photo_kiss.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.c-02 {
    background-image: url(../img/photo_calo.jpg);
    background-repeat: no-repeat;
    background-size: contain;


}

.c-03 {
    background-image: url(../img/photo_cuban.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}

.price {
    position: relative;
}

.fotosession {
    width: 509px;
    margin: 103px 0 0 0;
    padding: 217px 40px 25px;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.05);
    position: relative;
    box-sizing: border-box;
}

.fotosession-foto {
    width: 290px;
    height: 290px;
    background-image: url(../img/fotosession.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: -103px;
    left: 110px;
}

.fotosession-video {
    width: 290px;
    height: 290px;
    background-image: url(../img/videomake.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: -103px;
    left: 110px;
}

.fotosession h3 {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.price {
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
}

.fotosession span {
    font-size: 18px;
    line-height: 22px;
}

.list-L {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 25px 0;
}
.list-R {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin: 25px 0;
}

.fotosession button {
    width: 249px;
    height: 60px;
    margin: 0;
}

.call-back-img {
    width: 50%;
    height: 585px;
}

.parrots  {
    width: 100%;
}


form {
    width: 476px;
}

input {
    width: 100%;
    height: 60px;
    margin: 0 0 40px 0;
    box-sizing: border-box;
}

.text {
    height: 221px;
    box-sizing: border-box;
    padding-bottom: 155px;
}

input::placeholder {
    padding-top: 18px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: rgba(35, 35, 35, 0.35);
}

.btn {
    background-color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    border: 1px #a52424 solid;
}

footer {
    height: 157px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #232323;
}

footer a {
    text-decoration: none;
    color: #101010;
    font-size: 18px;
}

.social-links {
    width: 190px;
    margin: auto;
}

.insta {
    width: 30px;
    height: 30px;
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.facebook {
    width: 30px;
    height: 30px;
    background-image: url(../img/facebook-app-symbol\ 2.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.mail-pic {
    width: 30px;
    height: 30px;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.tel-footer {
    font-weight: 600;
    font-size: 22px;
    line-height: 157px;
    letter-spacing: 0.05em;
    text-align: right;
}

.mainPhoto {
    width: 70%;
}